extends templates/template
block header
  include templates/body/header
block body
  section.section.information
    h2.section__title#learning Capacitacion
    .information__container.learning__container
      .learning__img.information__img
        img(src="assets/imgs/teaching.png", alt="Alejandro Leyva Clase enseñando")
      .learning__description
        p Amplia experiencia en docencia, en diversos niveles educativos; tanto público como privado. Impartiendo asignaturas de especialidad de carreras como ingeniería de software, sistemas computacionales, estadística administrativa y mecatrónica. Tanto de manera presencial como en línea. <br><br>
        p Damos el servicio de aseseorias, consultoria, capacitación, desarrollo de proyectos. De toda indole y nivel. Desde diseño de productos, testeo, producción.
  section#container
  
block contact
  include templates/body/contact
block footer
  include templates/body/footer
  script.
    const data = [
      {
        title: 'Software',
        courses:[
          {
            name:'Android',
            description: 'Desarrollo de aplicaciones en Android',
            img:{
              url:'/assets/imgs/icons/android.svg',
              alt:"logo "
            },
            link: '#contact'
          },
          {
            name:'JAVA SE',
            description: 'Desarrollo de aplicaciones multiplataforma',
            img:{
              url:'/assets/imgs/icons/java.svg',
              alt:"logo "
            },
            link: '#contact'
          },
          {
            name:'JavaScript',
            description: 'Programación de sitios dinámicos (SPA, PWA).',
            img:{
              url:'/assets/imgs/icons/js.svg',
              alt:"logo "
            },
            link: '#contact'
          },
          {
            name:'Nodejs',
            description: 'Programación Backend con JavaScript',
            img:{
              url:'/assets/imgs/icons/nodejs.svg',
              alt:"logo "
            },
            link: '#contact'
          },
          {
            name:'Firebase',
            description: 'Aplicaciones con un Backend As A Service',
            img:{
              url:'/assets/imgs/icons/firebase.svg',
              alt:"logo "
            },
            link: '#contact'
          },
          {
            name:'Desarrollo Web',
            description: 'Desarrollo de sitios Web estáticos (HTML5, CSS) ',
            img:{
              url:'/assets/imgs/icons/code.svg',
              alt:"logo "
            },
            link: '#contact'
          },
          {
            name:'HTML5',
            description: 'Estandar HTML5',
            img:{
              url:'/assets/imgs/icons/html5.svg',
              alt:"logo "
            },
            link: '#contact'
          },
          {
            name:'CSS',
            description: 'Estandar CSS',
            img:{
              url:'/assets/imgs/icons/css.svg',
              alt:"logo "
            },
            link: '#contact'
          },
          {
            name:'Flexbox - CSS',
            description: 'Estandar CSS',
            img:{
              url:'/assets/imgs/icons/css.svg',
              alt:"logo "
            },
            link: '#contact'
          },
        ]
      },
      {
        title: 'Electrónica',
        courses:[
          {
            name:'Arduino',
            description: 'Programación en plataforma Arduino',
            img:{
              url:'/assets/imgs/icons/arduino.svg',
              alt:"logo"
            },
            link: '#contact'
          },
          {
            name:'Microcontroladores (Microchip)',
            description: 'Programación en uC Microchip C/ASM',
            img:{
              url:'/assets/imgs/icons/micro.svg',
              alt:"logo "
            },
            link: '#contact'
          },
          {
            name:'Electrónica Digital',
            description: 'Conceptos, aplicaciones',
            img:{
              url:'/assets/imgs/icons/digitales.svg',
              alt:"logo "
            },
            link: '#contact'
          },
          {
            name:'Electrónica Analógica',
            description: 'Conceptos, aplicaciones',
            img:{
              url:'/assets/imgs/icons/analogica.svg',
              alt:"logo "
            },
            link: '#contact'
          },
          {
            name:'Electrónica Básica',
            description: 'Conceptos, aplicaciones',
            img:{
              url:'/assets/imgs/icons/electronica.svg',
              alt:"logo "
            },
            link: '#contact'
          },
          {
            name:'IoT',
            description: 'Sistemas embebiddos, Internet de las Cosas.',
            img:{
              url:'/assets/imgs/icons/micro.svg',
              alt:"logo "
            },
            link: '#contact'
          }
        ]
      }
      ]
    let container = document.getElementById('container');
    let html = '';
    data.forEach((element)=>{
      let card = `
      <section class="section design">
      <h2 class="section__title" id="design">${element.title}</h2>
      <div class="card-container">`
      element.courses.forEach( course =>{
        card+= `
              <div class="card card__space">
                <header class="card__header">
                  <div class="card__img"><a class="img-link" href="${course.link}"><img class="img-design" src="${course.img.url}" alt="${course.img.alt + course.name}"/></a></div>
                  <h2 class="card__title">${course.name}</h2>
                </header>
                <div class="card__description">${course.description}</div>
                <footer class="card__footer"><a class="btn-card btn" href="${course.link}">Contactanos</a></footer>
          </div>
          `
      })
      html +=card + "</section>";
    });
    container.innerHTML += html


